h1 {
     text-align: center;
    fort-size: 50px;
    color: #ff0000;

}


p {
    text-align: justify;
     fort-size: 50px;
     color: darkgreen;


}

body{background-color: rgb(15, 205, 120);}
p{text-align:center}
strong {color#red}
       