body{
   
    background: rgb(15, 205, 177)
}


p1 {
     text-align: justify;
    fort-size: 20px;
    color: black;

}


p2 {
    text-align: justify;
    font-size: 20px;
    color: black
}


       